<div class="login-form-container">

  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="logar()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor insira seu login">
        <nz-input-group>
          <ng-template nzPrefix>
            <i nz-icon nzType="user"></i>
          </ng-template>
          <input type="email" nz-input [(ngModel)]="creds.email" formControlName="userName"
          placeholder="Insira seu email" />
        </nz-input-group>
      </nz-form-control>
  </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor insiria sua senha">
        <nz-input-group>
          <input type="password" nz-input [(ngModel)]="creds.senha" formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <div nz-row class="login-form-margin">
        <a class="login-form-forgot" routerLink="/login-recuperar">Esqueceu a senha?</a>
    </div>

    <button nz-button class="login-form-button" [disabled]="!validateForm.valid" [nzType]="'primary'">Entrar</button>
    Ou
    <a routerLink="/login-create">Cadastre-se agora</a>
  </form>
</div>

