<div class="container">
  <form nz-form [formGroup]="validateForm" class="create-form" (ngSubmit)="create()">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Nome</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="nomeErrorTpl">
        <input nz-input type="text" formControlName="nome" [(ngModel)]="usuario.nome" placeholder="Insira seu nome" />
        <ng-template #nomeErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Por favor, digite seu nome!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Nº Casa</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="numeroCasaErrorTpl">
        <input nz-input type="text" formControlName="numeroCasa" [(ngModel)]="usuario.endereco.numeroCasa"
          placeholder="Insira o número da sua casa" />
        <ng-template #numeroCasaErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Insira o número da casa!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>CEP</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="cepErrorTpl">
        <input nz-input formControlName="cep" [(ngModel)]="usuario.endereco.cep" placeholder="Insira o CEP da sua casa"
          (input)="formatarCEP($event)" />
        <ng-template #cepErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Por favor, insira o CEP!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <input nz-input formControlName="email" [(ngModel)]="usuario.email"
        placeholder="Insira seu email" type="email" />
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('email')">Formado do email inválido!</ng-container>
          <ng-container *ngIf="control.hasError('required')">Por favor insira seu email!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Senha</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Por favor digite sua senha!">
        <input nz-input type="password" [(ngModel)]="usuario.senha" placeholder="Digite sua senha" formControlName="senha"
          (ngModelChange)="validateConfirmPassword()" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Confirme</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
        <input nz-input type="password" formControlName="confirm" placeholder="Confirme sua senha" />
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Por favor, confirme sua senha</ng-container>
          <ng-container *ngIf="control.hasError('confirm')">As senhas não conferem</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button class="login-form-button" nzType="primary" [disabled]="!validateForm.valid">Cadastrar</button>
        <button nz-button class="login-form-button" nzType="default" (click)="cancel()">Cancelar</button>
        <button nz-button class="login-form-button" nzType="default" (click)="resetForm($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
