<nz-card class="product-card" nzHoverable nzShadow="hover">
  <div nz-card-meta>
    <div nz-avatar nzSrc="assets/images/product-image.jpg" nzSize="large"></div>
    <div class="product-card-info">
      <div class="product-card-title">Nome do Produto</div>
      <div class="product-card-description">Descrição do Produto</div>
      <div class="product-card-price">Preço: R$ XX,XX</div>
    </div>
  </div>
  <div nz-card-actions>
    <button nz-button nzType="primary">+</button>
    <span class="product-card-quantity">0</span>
    <button nz-button nzType="primary">-</button>
    <button nz-button nzType="primary">Adicionar</button>
  </div>
</nz-card>
<app-header></app-header>


